@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  background: #f0f0f0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
}

html {
  font-size: 100%;
}

ul {
  list-style: none;
}

header {
  padding: 0;
}

#logo {
  font-weight: 600;
}

#nav {
  background-color: #95adbe;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
}

#nav-links {
  justify-content: flex-end;
}

#nav-links li,
#logo {
  margin-left: 1%;
  color: #fff;
  font-size: 1.3rem;
}

#nav-links li {
  font-weight: 500;
}

main {
  max-width: 40%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.flex-fit {
  flex: 1 1 0;
  min-width: 0;
}

#books-div {
  flex-direction: column;
  border: 1px solid #000;
  min-height: 5vh;
}

.bookDiv {
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  font-weight: 500;
}

.bookDiv:nth-child(odd) {
  background: rgb(230, 230, 230);
}

.bookDiv:nth-child(even) {
  background: rgb(255, 255, 255);
}

h1,
h3 {
  text-align: center;
}

form {
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 0 20px;
}

input {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  outline: none;
  border: none;
}

input[type=text] {
  margin-bottom: 2%;
}

input[type=submit] {
  align-self: flex-end;
  padding: 1% 5%;
}

.delete,
input[type=submit] {
  box-shadow: 4px 4px #888;
  font-weight: 550;
}

.delete:hover,
input[type=submit]:hover {
  background-color: bisque;
  color: brown;
  box-shadow: 2px 2px #b9b9b9;
}

hr {
  width: 10vw;
  border: 1px solid #000;
  background-color: #000;
}

.author {
  font-style: italic;
  font-weight: 600;
}